Flask==3.1.0
kaleido==0.2.1
langchain-core==0.3.41
langchain-openai==0.3.7
langsmith==0.3.12
numpy==2.0.2
openai==1.65.4
pandas==2.2.3
plotly==6.0.0
pydantic==2.10.6
pydantic_core==2.27.2
python-dotenv==1.0.1
regex==2024.11.6
requests==2.32.3
snowflake-connector-python==3.14.0
typing_extensions==4.12.2
tzdata==2025.1
urllib3==1.26.20
Werkzeug==3.1.3
